<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



        .container {

            text-align: center;
        }

        .heading {
            font-family: 'Montserrat', sans-serif;
        }

        .sub-container {
            width: 70%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: black;
            padding: 1rem;
        }

        .sub-container a {
            color: #ffffff;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
        }
    </style>

</head>

<body>
    <div class="container">
        <h1 class="Heading">Welcome</h1>
        <div class="sub-container ">
            <a href="/register">Register</a>
            <a href="/login">Login</a>

        </div>
    </div>
</body>

</html>